# URL of client during local dev    DO NOT CHANGE
CLIENT_URL=http://localhost:3000

# server port                       DO NOT CHANGE
PORT=5000

# URL of serrver during local dev   DO NOT CHANGE
SERVER_URL=http://localhost:5000

#MongoDB uri                        **see access instructions
MONGODB_URI=<our_mongo_uri>

#Auth0 Domain                       DO NOT CHANGE
AUTH0_DOMAIN=clinicsandqs-users.eu.auth0.com

#Auth0 Secrets                      **see access instructions
AUTH0_CLIENT_ID=<our_auth0_client_id>
AUTH0_CLIENT_SECRET=<our_auth0_client_secret>